/* 画面全体・中央揃え */
body.wrap {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f4f4f4;
}

.container {
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}